# Dependencias
node_modules/

# Configuración del entorno
.env

# Archivos del editor
.vscode/
*.log
*.swp
*.lock

# Otros innecesarios
.DS_Store
Thumbs.db

#Hola buenas tardes esta es una linea de codigo camiado